{% if docker_stats %}
TypesDB "/usr/share/collectd/docker-collectd-plugin/dockerplugin.db"
LoadPlugin python
<Plugin python>
  ModulePath "/usr/share/collectd/docker-collectd-plugin"
  Import "dockerplugin"
  <Module dockerplugin>
    BaseURL "unix://var/run/docker.sock"
    Timeout 30
    Interval "{{collectd_interval}}"
    # Dimension "image" "inspect:Config.Image"
   #  Dimension "federation" "env:federation"
   #  Dimension "federate" "env:federate"  
  </Module>
</Plugin>
{% endif %}